*, body, html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
}

#main-header {
  background: #427d97;
}

#main-header .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
}

#main-header .main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  gap: 2rem;
  width: 100%;
  margin-inline: 2rem;
}

#main-header .main-nav ul li {
  margin-left: auto;
  margin: 0;
  border-radius: 4px;
  text-transform: uppercase;
}

#main-header .main-nav ul li a {
  text-decoration: none;
  color: white;
  padding: .75rem 1rem;
  border-radius: 4px;
}

#main-header .main-nav ul li a:hover {
  background-color: #305d70;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

#main-header .main-nav ul .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

#main-header .main-nav ul .logo .logo-link {
  background: none;
}

#main-header .main-nav ul .logo img {
  height: 50px;
}

#main-header .main-nav ul .schedule-a-visit a {
  padding: .75rem 1.5rem;
  border-radius: 4px;
  background: #f3b21c;
}

#main-header .main-nav ul .schedule-a-visit a:hover {
  background: #d89f1a;
  cursor: pointer;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

#mobile-header {
  display: none;
  overflow-x: hidden;
  border: 1px solid red;
  width: 100%;
}

.nav-checkbox {
  display: none;
}

#nav-checkbox:checked ~ .nav-toggle > .close-menu {
  -webkit-animation: fade-in 150ms forwards;
          animation: fade-in 150ms forwards;
}

#nav-checkbox:checked ~ .nav-toggle > .hamburger-menu {
  -webkit-animation: fade-out 150ms forwards;
          animation: fade-out 150ms forwards;
}

#nav-checkbox:checked ~ .mobile-nav {
  -webkit-animation: slide-in 500ms forwards;
          animation: slide-in 500ms forwards;
}

#nav-checkbox:not(:checked) ~ .mobile-nav {
  -webkit-animation: slide-out 2s forwards;
          animation: slide-out 2s forwards;
}

@-webkit-keyframes slide-in {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@keyframes slide-in {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes slide-out {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

@keyframes slide-out {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

@-webkit-keyframes fade-out {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes fade-out {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2rem;
  aspect-ratio: 1 / 1;
  z-index: 100;
}

.hamburger-menu .hz-line-1 {
  height: 3px;
  width: 2rem;
  background: #427d97;
}

.close-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2rem;
  aspect-ratio: 1 / 1;
  z-index: 1000;
  opacity: 0;
}

.close-menu .dg-line-1 {
  height: 3px;
  width: 2rem;
  position: absolute;
  background: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-menu .dg-line-2 {
  height: 3px;
  width: 2rem;
  position: absolute;
  background: white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #427d97;
  position: absolute;
  right: -100%;
  height: 100vh;
}

.mobile-nav ul {
  list-style: none;
  margin-top: 125px;
  margin-right: 50px;
}

.mobile-nav ul .schedule-a-visit-mobile-li {
  border-bottom: 1px solid #f3b21c85;
}

.mobile-nav ul .schedule-a-visit-mobile-li:hover {
  border-bottom: 1px solid #f3b21c;
}

.mobile-nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.158);
}

.mobile-nav ul li:hover {
  border-bottom: 1px solid white;
}

.mobile-nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 1rem;
}

.mobile-nav ul li .schedule-a-visit-mobile {
  color: #ffb300;
}

@media (max-width: 1120px) {
  #main-header {
    display: none;
  }
  #mobile-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=header.css.map */